<%= stylesheet_link_tag "root2" %>

<section role="main">
	<div class="welcome">
		<div class="row">
			<div class="large-4 columns hide-for-small">
				<div class="jake">
				</div>
				<div class="bubble">
				</div>
			</div>
			<div class="large-7 columns">
				<p class="welcome-text">
					SHARINATOR - это умная система
					подсчета общих трат, которая поможет вам
					без труда определить КТО, КОМУ И ЗА ЧТО
					должен. Вы сможете не только узнать,
					но и оповестить ваших друзей через
					социальную сеть.
				</p>
			</div>
		</div>
	</div>
</section>